<div class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
    <mat-form-field class="fuse-mat-dense mat-form-field-wrapper mat-form-field-flex  mat-form-field-infix mat-f w-full sm:w-60">
        <mat-label class=""># Docuemento</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field 
        class="fuse-mat-dense mat-form-field-wrapper mat-form-field-flex  mat-form-field-infix w-full sm:w-120 mt-1 sm:mt-0 sm:ml-1"
        [ngClass]="formFieldHelpers">
        <mat-label>Fecha</mat-label>
        <input matInput
               [matDatepicker]="picker2" 
               [placeholder]="'Fecha Factura'"
               >
               <mat-datepicker-toggle
               matSuffix
               [for]="picker2"></mat-datepicker-toggle>
           <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="fuse-mat-dense mat-form-field-wrapper mat-form-field-flex  mat-form-field-infix w-full sm:w-110 mt-1 sm:mt-0 sm:ml-1">
        <mat-label>Bodega</mat-label>
        <input matInput>
    </mat-form-field>
</div>
