<div class="flex flex-col flex-auto min-w-0">
    <div class="relative pt-8 pb-12 sm:pt-10 sm:pb-24 px-6 sm:px-10 overflow-hidden">
        <form class="flex flex-col mt-4 bg-card shadow rounded overflow-hidden">
            <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
                <p class="text-lg font-medium">Perfil</p>
                <p class="text-secondary">Información del usuario del sistema</p>
            </div>
            <div class="flex flex-col p-8" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
                <mat-form-field class="fuse-mat-dense" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense" fxFlex>
                    <mat-label>Apellidos</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense flex-auto">
                    <mat-label>Usuario</mat-label>
                    <input matInput>
                    <span matPrefix>alguien@correo.com/</span>
                </mat-form-field>
                <mat-form-field class="fuse-mat-textarea flex-auto">
                    <mat-label>Acerca de</mat-label>
                    <textarea
                        matInput
                        [rows]="3"></textarea>
                </mat-form-field>
            </div>
            
            <!-- Botones -->
            <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button>
                    Cancelar
                </button>
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
